#home {
    height: 150vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.division1 {
    height: 50%;
    width: 40%;
    text-align: center;
}

.division1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end;
}

.division1 h1 {
    font-size: 4vw;
    font-weight: bold;
}

.division1 p {
    font-size: 1.5vw;
}

.division1 a {
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    color:white;
    border-radius: 0.5vw;
    transition: background-color 0.5s ease;
    border: 0.2em solid skyblue;
    background-color: #007ACC;
}

.division1 a,  .division1 a:visited, .division1 a:hover,.division1 a:active {
    text-decoration: none;
    color: white;
}

.division1 button:hover {
    background: linear-gradient(to right, #0099ff 0%, #66ffcc 100%);
}

.division2 {
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  
    rgba(0, 122, 204, 0.4) 0px 0px 0px 1vw,
    rgba(0, 122, 204, 0.3) 0px 0px 0px 2vw, 
    rgba(0, 122, 204, 0.2) 0px 0px 0px 3vw, 
    rgba(0, 122, 204, 0.1) 0px 0px 0px 4vw;
    border-radius: 50%;
    padding: 15% 0;
    animation-name: bloom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

@keyframes bloom {
    0%{box-shadow:  
        rgba(0, 122, 204, 0.4) 0px 0px 0px 1vw,
        rgba(0, 122, 204, 0.3) 0px 0px 0px 2vw, 
        rgba(0, 122, 204, 0.2) 0px 0px 0px 3vw, 
        rgba(0, 122, 204, 0.1) 0px 0px 0px 4vw;}
    50%{box-shadow:  
        rgba(0, 122, 204, 0.4) 0px 0px 0px 2vw,
        rgba(0, 122, 204, 0.3) 0px 0px 0px 4vw, 
        rgba(0, 122, 204, 0.2) 0px 0px 0px 6vw, 
        rgba(0, 122, 204, 0.1) 0px 0px 0px 8vw;}
    100%{box-shadow:  
        rgba(0, 122, 204, 0.4) 0px 0px 0px 1vw,
        rgba(0, 122, 204, 0.3) 0px 0px 0px 2vw, 
        rgba(0, 122, 204, 0.2) 0px 0px 0px 3vw, 
        rgba(0, 122, 204, 0.1) 0px 0px 0px 4vw;}
}

.division2 img {
    width:100%;
    height:auto;
}

@media only screen and (max-width: 600px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100vw;
    
    }
    
    .division1 {
        margin-bottom: 10%;
        height: 25%;
        width: 90%;
        text-align: start;
    }
    
    .division1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:flex-start;
    }
    
    .division1 h1 {
        font-size: 6vw;
        font-weight: bold;
    }
    
    .division1 p {
        font-size: 3vw;
    }
    
    .division1 a {
        padding: 1vw;
        font-size: 3vw;
        color:white;
        border-radius: 0.5vw;
        transition: background-color 0.5s ease;
        border: 0.2em solid skyblue;
        background-color: #007ACC;
    }
    
    .division1 a,  .division1 a:visited, .division1 a:hover,.division1 a:active {
        text-decoration: none;
        color: white;
    }
    
    .division1 button:hover {
        background: linear-gradient(to right, #0099ff 0%, #66ffcc 100%);
    }
    
    .division2 {
        margin-top: 20%;
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow:  
        rgba(0, 122, 204, 0.4) 0px 0px 0px 1vh,
        rgba(0, 122, 204, 0.3) 0px 0px 0px 2vh, 
        rgba(0, 122, 204, 0.2) 0px 0px 0px 3vh, 
        rgba(0, 122, 204, 0.1) 0px 0px 0px 4vh;
        border-radius: 50%;
        padding: 15% 0;
        animation-name: bloom;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
    }
    
    @keyframes bloom {
        0%{box-shadow:  
            rgba(0, 122, 204, 0.4) 0px 0px 0px 1vh,
            rgba(0, 122, 204, 0.3) 0px 0px 0px 2vh, 
            rgba(0, 122, 204, 0.2) 0px 0px 0px 3vh, 
            rgba(0, 122, 204, 0.1) 0px 0px 0px 4vh;}
        50%{box-shadow:  
            rgba(0, 122, 204, 0.4) 0px 0px 0px 2vh,
            rgba(0, 122, 204, 0.3) 0px 0px 0px 4vh, 
            rgba(0, 122, 204, 0.2) 0px 0px 0px 6vh, 
            rgba(0, 122, 204, 0.1) 0px 0px 0px 8vh;}
        100%{box-shadow:  
            rgba(0, 122, 204, 0.4) 0px 0px 0px 1vh,
            rgba(0, 122, 204, 0.3) 0px 0px 0px 2vh, 
            rgba(0, 122, 204, 0.2) 0px 0px 0px 3vh, 
            rgba(0, 122, 204, 0.1) 0px 0px 0px 4vh;}
    }
    
    .division2 img {
        width:100%;
        height:auto;
    }
    
}