.macbook-repairs {
    height: 120vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mb-img-container {
    width: 45%;
    height: 50%;
    display: flex;
    position: relative;

}

.mb-img {
    position: absolute;
    width: 50%;
    height: auto;
    top: 25%;
    left: 25%;
    animation-name: mac;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes mac{
    0%{left: 25%}
    50%{left: 35%}
    100%{left: 25%}
}

.macbook-repairs-content {
    width: 45%;
    height: 95%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
}

.macbook-repairs-title {
    font-size: 4vw;
    font-weight: bold;
}

.macbook-repair-details {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.mb-card {
    width: 48%;
    height: 45%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
.mb-card h2 {
    font-size: 2vw;
}
.mb-card p {
    font-size: 1vw;
}

@media only screen and (max-width: 600px) {
    .macbook-repairs {
        height: 150vh;
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    
    }
    
    .mb-img-container {
        width: 100%;
        height: 30%;
        position: relative;
    
    }
    
    .mb-img {
        position: absolute;
        width: 50%;
        height: auto;
        top: 25%;
        left: 25%;
        animation-name: mac;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    
    @keyframes mac{
        0%{left: 25%}
        50%{left: 35%}
        100%{left: 25%}
    }
    
    .macbook-repairs-content {
        width: 100%;
        height: 70%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .macbook-repairs-title {
        font-size: 6vw;
        font-weight: bold;
    }
    
    .macbook-repair-details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .mb-card {
        width: 100%;
        height: 25%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .mb-card h2 {
        font-size: 5vw;
        text-align: center;
    }
    
    .mb-card p {
        font-size: 3vw;
        width: 90%;
        text-align: center;
    }
}