.why-choose-us {
  height: 120vh;
}

.wcu-title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

.wcu-content {
  height: 80%;
  position: relative;
}

.wcu-font {
  color: white;
  font-size: 5vw;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.ts-img-cont {
  width: 45%;
  height: auto;
  display: block;
  position: absolute;
  top: 10%;
  left: 2%;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 20px;
}

.ts-g {
  background-color: #0250c5;
  opacity: 0.8;
  width: 20%;
  height: 42%;
  position: absolute;
  top: 2%;
  left: 52%;
  border-radius: 1em;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 20px;
}

.ts-g p {
  font-size: 4vw;
  font-weight: bold;
}

.ts-pr {
  background: linear-gradient(to right, #0099ff 0%, #66ffcc 100%);
  color: white;
  opacity: 0.9;
  width: 20%;
  height: 42%;
  position: absolute;
  top: 2%;
  right: 5%;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 20px;
}

.ts-ds {
  background-color: #d43f8d;
  color: white;
  opacity: 0.8;
  width: 20%;
  height: 42%;
  position: absolute;
  bottom: 2%;
  right: 17%;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 20px;
}

@media only screen and (max-width: 600px) {
  .why-choose-us {
    height: 200vh;
  }

  .wcu-title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
  }

  .wcu-content {
    height: 90%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .wcu-font {
    color: white;
    font-size: 15vw;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
  }

  .ts-img-cont {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px;
    position: static;
  }

  .ts-g {
    background-color: #0250c5;
    opacity: 0.8;
    width: 90%;
    border-radius: 1em;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px;
    position: static;
  }

  .ts-g p {
    font-size: 15vw;
    font-weight: bold;
  }

  .ts-pr {
    background: linear-gradient(to right, #0099ff 0%, #66ffcc 100%);
    opacity: 0.9;
    width: 90%;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px;
    position: static;
    color: white;
  }

  .ts-ds {
    background-color: #d43f8d;
    opacity: 0.8;
    width: 90%;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px;
    position: static;
    color: white;
  }
}
